<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Vue Contacts</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body class="container bg-dark text-light">

        <h1 class="mt-5 text-primary text-center">Vue Contacts</h1>

        <div id="app" class="mt-4" v-cloak>

            <a class="mt-5" href="#" v-on:click="toggleForm">{{ showForm ? 'Hide form' : 'Show form' }}</a>

            <div class="mt-3 alert alert-danger text-danger" v-if="errorMessage">
                <span v-html="errorMessage"></span>
            </div>

            <div class="mt-4 pb-3">
                <form class="clearfix" v-if="showForm">
                    <div class="form-group">
                        <label for="firstname" class="text-warning">First Name</label>
                        <input id="firstname" v-model="formFirst" type="text" class="form-control bg-secondary text-light">
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="text-warning">Last Name:</label>
                        <input id="lastname" v-model="formLast" type="text" class="form-control bg-secondary text-light">
                    </div>
                    <div class="form-group">
                        <label for="emailaddr" class="text-warning">Email Address:</label>
                        <input id="emailaddr" v-model="formEmail" type="text" class="form-control bg-secondary text-light">
                    </div>
                    <div class="form-group">
                        <label for="phonenum" class="text-warning">Phone Number:</label>
                        <input id="phonenum" v-model="formPhone" type="text" class="form-control bg-secondary text-light">
                    </div>
                    <button type="button" class="btn btn-warning float-right" v-on:click="addOrUpdateContact">{{ formOldId == '' ? 'Add' : 'Update' }}</button>
                    <button type="button" class="mr-3 btn btn-secondary float-right" v-on:click="cancel">Cancel</button>
                    <input type="hidden" v-bind:value="formOldId">
                </form>
            </div>

            <input type="text" placeholder="Filter contacts..." v-model="filterText" class="mt-5 form-control bg-secondary text-light">

            <table id="contactList" class="table">
                <thead>
                    <tr>
                        <th><span class="font-weight-light">Actions</span></th>
                        <th>
                            <a class="mr-1" href="#contactList" v-on:click="sortContacts('firstname')">First Name</a>
                            <i v-if="sortIsAscending && sortByField == 'firstname'"class="fas fa-sort-up"></i>
                            <i v-if="!sortIsAscending && sortByField == 'firstname'"class="fas fa-sort-down"></i>
                        </th>
                        <th>
                            <a class="mr-1" href="#contactList" v-on:click="sortContacts('lastname')">Last Name</a>
                            <i v-if="sortIsAscending && sortByField == 'lastname'"class="fas fa-sort-up"></i>
                            <i v-if="!sortIsAscending && sortByField == 'lastname'"class="fas fa-sort-down"></i>
                        </th>
                        <th>
                            <a class="mr-1" href="#contactList" v-on:click="sortContacts('emailaddr')">Email Address</a>
                            <i v-if="sortIsAscending && sortByField == 'emailaddr'"class="fas fa-sort-up"></i>
                            <i v-if="!sortIsAscending && sortByField == 'emailaddr'"class="fas fa-sort-down"></i>
                        </th>
                        <th>
                            <a class="mr-1" href="#contactList" v-on:click="sortContacts('phonenum')">Phone</a>
                            <i v-if="sortIsAscending && sortByField == 'phonenum'"class="fas fa-sort-up"></i>
                            <i v-if="!sortIsAscending && sortByField == 'phonenum'"class="fas fa-sort-down"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="contact in sortedFilteredContacts">
                        <td><i class="fas fa-user-edit text-success" v-on:click="editContact(contact.id)"></i><i class="pl-2 fas fa-user-minus text-danger" v-on:click="deleteContact(contact.id)"></i></td>
                        <td>{{ contact.firstname }}</td>
                        <td>{{ contact.lastname }}</td>
                        <td>{{ contact.emailaddr }}</td>
                        <td>{{ contact.phonenum }}</td>
                    </tr>
                </tbody>
            </table>

            <div v-if="contacts.length == 0" class="mt-5 text-center text-info">
                Use the form to enter new contacts.
            </div>


        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="js/app.js"></script>

    </body>
</html>
